<html>
<body>
Please enter the episode you want to add
<p>
    

<!--<form action = add method = "GET">-->
<!--         Episode Number: <input type = "text" name = "epnum">-->
         
         
<!--         <input type = "submit" value = "Submit">-->
         <!--Episode Name: <input type = "text" name = "title">-->
         <!--Episode Season: <input type = "text" name = "season">-->
         <!--<a href="/add?epnum={{result.epnum}}">Delete?</a>-->
         </p>
<script>
//var x = prompt("What episode numer");
  //  function getep(epnum1){
    //    return x;
    //}
    
    
</script>
</body>
</html>