<html>
<body>
Please enter the episode number you area searching for
<p>
    

<!--<form action = episode method = "GET">-->
<!--         Episode Number: <input type = "text" name = "epnum">-->
         
<!--         <input type = "submit" value = "Submit">-->
<!--         </p>-->
         <p>
         add one brah
<form action = add method = "GET">
         Episode Number: <input type = "text" name = "epnum">
         
         
         <input type = "submit" value = "Submit">
         </p>
<script>
//var x = prompt("What episode numer");
  //  function getep(epnum1){
    //    return x;
    //}
    
    
</script>
</body>
</html>