<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Eprhsa</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
  </head>
  <body>
    <div id="root"></div>

    <script type="text/babel">

                    let EPISODES={{{episodes}}};


                    const EpisodeList = (props) => {

            let items = props.episodes.map((episode) => {
              return <li onClick={props.show}
              id={episode._id} key={episode._id}>{episode.title}</li>
            })
              console.log(items);
            return <ul>{items}</ul>
            }


            const Detail = (props) => {
            console.log(props.episode)
            return <div>

            </div>

            }


                      class App extends React.Component {
                        constructor(props) {
                          super(props);
                          this.state = {
                            episodes:{{{episodes}}},
                            curItem:{},
                            filter:""
                            };
                    this.showDetail = this.showDetail.bind(this);
                   this.onDelete = this.onDelete.bind(this);
                   this.onAdd = this.onAdd.bind(this);
                   this.handleChange = this.handleChange.bind(this);
                   this.onSubmit = this.onSubmit.bind(this);
                   this.onClick = this.onClick.bind(this);


                        }
                        showDetail(event) {

      var found = this.state.episodes.find((item) =>{
      return item._id === event.target.id;
      });
      this.setState({curItem: found})

      }


      onDelete(){
        let id = this.state.curItem.epnum;

        fetch("/api/v1/delete/" + id).then((response) => {
          return response.json();
        }).then((results) => {
          // Filter all items except the one to be removed
          const remainder = this.state.items.filter((item) => {
            return item._id !== id;
          });
          // Update state with new array
          this.setState({items: remainder, curItem: {}});
        });
      }





                        onClick(event){

                        }






                                onAdd(){

                    fetch('add',  {
                        method: 'POST',
                    headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                    epnum: this.epnumInput.value,
                    season: this.seasonInput.value,
                      title: this.titleInput.value,

                    })
                    })
                    }








                    handleChange(event) {
           this.setState({curItem:{}});

        }




        onSubmit(event){
         this.setState({curItem:{}});
          }



                        render() {
                          return <div>
              <h2>Page Title</h2>
              <EpisodeList show={this.showDetail} episodes={this.state.episodes} />
              <Detail episode={this.state.curItem} />

                 <form>
                  title:
                  <input type="text" placeholder={this.state.curItem.title} defaultValue={this.state.curItem.title} ref={titleInput => this.titleInput = titleInput} onChange={this.handleChange}/>
                     <p>
                     season:
                  <input type="text" placeholder={this.state.curItem.season} defaultValue={this.state.curItem.season} ref={seasonInput => this.seasonInput = seasonInput} onChange={this.handleChange}/>
                         </p>
                     <p>
                             epnum:

                  <input type="text" placeholder={this.state.curItem.epnum} defaultValue={this.state.curItem.epnum} ref={epnumInput => this.epnumInput = epnumInput} onChange={this.handleChange} />
                         </p>
                 <button onClick={this.onAdd}>Save</button>

                     </form>
                <button onClick={this.onDelete}>Delete</button>
                 <form type="reset">
              <button>Clear</button>
              </form>
                 <hr/>
              </div>


                        }
                      }




                    ReactDOM.render(
                        <App episodes={EPISODES} />,

                          document.getElementById('root') );
    </script>
    <!--
      Note: this page is a great way to try React but it's not suitable for production.
      It slowly compiles JSX with Babel in the browser and uses a large development build of React.
      Read this section for a production-ready setup with JSX:
      http://reactjs.org/docs/add-react-to-a-website.html#add-jsx-to-a-project
      In a larger project, you can use an integrated toolchain that includes JSX instead:
      http://reactjs.org/docs/create-a-new-react-app.html
      You can also use React without JSX, in which case you can remove Babel:
      https://reactjs.org/docs/react-without-jsx.html
    -->
  </body>
</html>
